*{
    box-sizing: inherit;
}
:root{
    --primary-color: #ffb8c1;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
}
/* ANIMATIOn */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
#checkcart-right:checked ~ .overlay{
    display: block;
}